
[gcode_macro CUT_FILAMENT]
gcode:
  {% set client = printer['gcode_macro _CLIENT_VARIABLE']|default({}) %}
  {% set active_tool = client.active_tool|default(0)|int %}
  # save state, then park active extruder
  SAVE_DUAL_CARRIAGE_STATE
  G91
  G1 Z+2 
  G90
  PARK_{printer.toolhead.extruder}
  # move to pre-cutting position 
  G1 X601 F18000
  # move carriages away from edges to clear cutting levers
  force_move stepper=dual_carriage distance=-15 velocity=30 accel=1000
  force_move stepper=stepper_y distance=15 velocity=30 accel=1000
  # move to cutting position
  g1 X610 F3000
  {% if params.T == 0 %}
    _CUT_T0
  {% elif params.T == 1 %}
    _CUT_T1
  {% elif params.T == 2 %}
    _CUT_T0
    _CUT_T1
  {% else %}
    _CUT_T{ active_tool }
  {% endif %}
  # move back to printable area
  g1 X600 F3000
  # move carriages back to parked position
    force_move stepper=dual_carriage distance=15 velocity=30 accel=1000
  force_move stepper=stepper_y distance=-15 velocity=30 accel=1000
  
[gcode_macro _cut_t0]
gcode:
  {% if printer.toolhead.position.x == 610 %}
    force_move stepper=stepper_y distance=-10 velocity=30 accel=1000
    force_move stepper=stepper_y distance=10 velocity=30 accel=1000
  {% else %}
    RESPOND TYPE=error MSG="Toolhead not in cuttting position"
  {% endif %}
  
[gcode_macro _cut_t1]
gcode:
  {% if printer.toolhead.position.x == 610 %}
    force_move stepper=dual_carriage distance=10 velocity=30 accel=1000
    force_move stepper=dual_carriage distance=-10 velocity=30 accel=1000
  {% else %}
    RESPOND TYPE=error MSG="Toolhead not in cuttting position"
  {% endif %}
