

[include macros/*.cfg]
[include mainsail.cfg]
[include timelapse.cfg]

[include include/boards.cfg]
[include include/mcu.cfg]
[include include/probe.cfg]
[include include/motors.cfg]
[include include/motion.cfg]
[include include/extruders.cfg]
[include include/sensors.cfg]
[include include/fans.cfg]
[include include/led.cfg]
[include include/heaters.cfg]

[exclude_object]

[respond]

[gcode_arcs]

[endstop_phase]

[save_variables]
filename: ~/variables.cfg

[firmware_retraction]
retract_length: 0.5
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 100
#   The speed of retraction, in mm/s. The default is 20 mm/s.
#unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 100
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

[danger_options]
#error_on_unused_config_options: True
#   If an unused config option or section should cause an error
#   if False, will warn but allow Kalico to still run.
#   The default is True.
#allow_plugin_override: False
#   Allows modules in `plugins` to override modules of the same name in `extras`
#   The default is False.
single_mcu_trsync_timeout: 0.25
#   The timeout (in seconds) for MCU synchronization during the homing process when
#   a single MCUs is in use. The default is 0.25
multi_mcu_trsync_timeout: 0.025
#   The timeout (in seconds) for MCU synchronization during the homing process when
#   multiple MCUs are in use. The default is 0.025
#homing_elapsed_distance_tolerance: 0.5
#   Tolerance (in mm) for distance moved in the second homing. Ensures the
#   second homing distance closely matches the `min_home_dist` when using
#   sensorless homing. The default is 0.5mm.
#temp_ignore_limits: False
#   When set to true, this parameter ignores the min_value and max_value
#   limits for temperature sensors. It prevents shutdowns due to
#   'ADC out of range' and similar errors by allowing readings outside the
#   specified range without triggering a shutdown. The default is False.
#autosave_includes: False
#   When set to true, SAVE_CONFIG will recursively read [include ...] blocks
#   for conflicts to autosave data. Any configurations updated will be backed
#   up to configs/config_backups.
#bgflush_extra_time: 0.250
#   This allows to set extra flush time (in seconds). Under certain conditions,
#   a low value will result in an error if message is not get flushed, a high value
#   (0.250) will result in homing/probing latency. The default is 0.250
#homing_start_delay: 0.001
#   How long to dwell before beginning a drip move for homing
#endstop_sample_time: 0.000015
#   How often the MCU should sample the endstop state
#endstop_sample_count: 4
#   How many times we should check the endstop state when homing
#   Unless your endstop is noisy and unreliable, you should be able to lower this to 1
#minimal_logging: False
#   Set all log parameters log options to False. The default is False.
#log_statistics: True
#   If statistics should be logged
#   (helpful for keeping the log clean during development)
#   The default is True.
log_config_file_at_startup: False
#   If the config file should be logged at startup
#   The default is True.
log_bed_mesh_at_startup: False
#   If the bed mesh should be logged at startup
#   (helpful for keeping the log clean during development)
#   The default is True.
#log_velocity_limit_changes: True
#   If changes to velocity limits should be logged. If False, velocity limits will only
#   be logged at rollover. Some slicers emit very frequent SET_VELOCITY_LIMIT commands
#   The default is True
#log_pressure_advance_changes: True
#   If changes to pressure advance should be logged. If false, pressure advance data
#   will only be logged at rollover.
#   The default is True.
#log_shutdown_info: Tru
#   If we should log detailed crash info when an exception occurs
#   Most of it is overly-verbose and fluff and we still get a stack trace
#   for normal exceptions, so setting to False can help save time while developing
#   The default is True.
#log_serial_reader_warnings: True
#log_startup_info: True
#log_webhook_method_register_messages: False


## Client variable macro for your printer.cfg
[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True  # use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 300.0   # custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 0.0   # custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 50    #; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   #; the value to retract while PAUSE
variable_cancel_retract   : 2.0   #; the value to retract while CANCEL_PRINT
variable_speed_retract    : 35.0  #; retract speed in mm/s
variable_unretract        : 1.0   #; the value to unretract while RESUME
variable_speed_unretract  : 35.0  #; unretract speed in mm/s
variable_speed_hop        : 15.0  #; z move speed in mm/s
variable_speed_move       : 300.0 #; move speed in mm/s
variable_park_at_cancel   : True #; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
#variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
#variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract   : False #; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     :  172800 ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
#variable_runout_sensor    : ""    #; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
#variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
#variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
#variable_user_cancel_macro: ""    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
variable_partfan_speed: 0 

gcode:

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# pid_kp = 25.853
#*# pid_ki = 2.707
#*# pid_kd = 61.729
#*# control = pid
#*# pid_version = 1
#*# pid_target = 280.00
#*# pid_tolerance = 0.0200
#*#
#*# [extruder1]
#*# pid_kp = 25.853
#*# pid_ki = 2.707
#*# pid_kd = 61.729
#*# control = pid
#*# pid_version = 1
#*# pid_target = 280.00
#*# pid_tolerance = 0.0200
#*#
#*# [heater_bed]
#*# pid_kp = 68.129
#*# pid_ki = 2.065
#*# pid_kd = 562.062
#*# control = pid
#*#
#*# [heater_generic inner_bed]
#*# pid_kp = 68.129
#*# pid_ki = 2.065
#*# pid_kd = 562.062
#*# control = pid
#*#
#*# [input_shaper]
#*# shaper_type_x = 2hump_ei
#*# shaper_freq_x = 76.6
#*# shaper_type_y = ei
#*# shaper_freq_y = 63.8
#*#
#*# [scanner]
#*# mode = touch
#*# scanner_touch_threshold = 1500
#*# scanner_touch_speed = 3
#*#
#*# [scanner model default]
#*# model_coef = 1.553771821946391,
#*# 	1.864340733426502,
#*# 	0.7536075374862038,
#*# 	0.35026396352448186,
#*# 	0.3406344198597213,
#*# 	0.44913908359729976,
#*# 	-0.10902173547383703,
#*# 	-0.47877565419337975,
#*# 	0.10994702112623693,
#*# 	0.2668882136589344
#*# model_domain = 3.275085370654e-07,3.346627612920639e-07
#*# model_range = 0.200000,5.100000
#*# model_temp = 48.740923
#*# model_offset = 0.00000
#*# model_mode = touch
#*# model_fw_version = CARTOGRAPHER 5.1.0
#*#
#*# [endstop_phase stepper_y]
#*# trigger_phase = 25/64
#*#
#*# [endstop_phase dual_carriage]
#*# trigger_phase = 21/64
#*#
#*# [endstop_phase stepper_x]
#*# trigger_phase = 8/64
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.017779, -0.087520, -0.163215, -0.250468, -0.413789, -0.572166, -0.637803, -0.530656, -0.337756, -0.252910
#*# 	  -0.158724, -0.231935, -0.283993, -0.348397, -0.479579, -0.628438, -0.716814, -0.613983, -0.437054, -0.352613
#*# 	  -0.256142, -0.320344, -0.345733, -0.389400, -0.507747, -0.648492, -0.730549, -0.644737, -0.480902, -0.401382
#*# 	  -0.339126, -0.385677, -0.390566, -0.411767, -0.515782, -0.644733, -0.728393, -0.638163, -0.498945, -0.422949
#*# 	  -0.386089, -0.434388, -0.439776, -0.442565, -0.523081, -0.632377, -0.721283, -0.640897, -0.507409, -0.434741
#*# 	  -0.396375, -0.443269, -0.456080, -0.452840, -0.527751, -0.619967, -0.694321, -0.631134, -0.498529, -0.409277
#*# 	  -0.391947, -0.446846, -0.460897, -0.465187, -0.526423, -0.611186, -0.669101, -0.611501, -0.468947, -0.341020
#*# 	  -0.363966, -0.427210, -0.443021, -0.451173, -0.498084, -0.563001, -0.624212, -0.548416, -0.396843, -0.260580
#*# 	  -0.296933, -0.379546, -0.404445, -0.426962, -0.472187, -0.515615, -0.562067, -0.476008, -0.320018, -0.173503
#*# 	  -0.163409, -0.260131, -0.317823, -0.348653, -0.401780, -0.455635, -0.483302, -0.389164, -0.223757, -0.029180
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 40.0
#*# max_x = 600.0
#*# min_y = 0.0
#*# max_y = 600.0
