# Please check that [save_variables] is above [ace] if you're using different config
[save_variables]
filename: /home/pi/printer_data/config/include/vars/ace_vars.cfg

[respond]

[filament_switch_sensor t0in]
pause_on_runout: False
runout_gcode:
    ACE_SENSOR_RUNOUT
event_delay: 0.5
pause_delay: 0.1
switch_pin: ^tool0:STOP1 

[ace]
serial: /dev/serial/by-id/usb-ANYCUBIC_ACE_1-if00
baud: 115200
# Extruder_sensor_pin
extruder_sensor_name: t0in
# Toolhead_sensor_pin
toolhead_sensor_name: #insert the sensor name (optional)
# Default extruder speed, 10-20 in stock
extruder_move_speed: 10
# Default extruder speed, 10-30 in stock
toolhead_homing_speed: 20
# Default feeding speed, 10-25 in stock
feed_speed: 80
# Default retraction speed, 10-25 in stock
retract_speed: 80
# Length of the retract to make for toolchange
toolchange_retract_length: 1330 # TUNE ME Distance from extruder sensor to spliter
toolchange_feed_length: 1280 # TUNE ME Distance from spliter to extruder sensor
toolhead_sensor_to_nozzle: 95  # TUNE ME Distance from toolhead sensor to nozzle
poop_macros: POOP
cut_macros: CUT_TIP
# Max dryer temperature. If you want to fry your dryer, then you can! (Just joking, should be safe around ~70, but it's not tested yet)
max_dryer_temperature: 70

[mmu]
[mmu_machine]

[gcode_macro _MMU_SOFTWARE_VARS]
gcode:

[gcode_macro MMU_CHANGE_TOOL]
gcode:
  {% set tool = params.TOOL|default(-1)|int %}
  {% set current_gate = printer.ace.current_gate|default(-1)|int  %}
  {% if current_gate != tool %}
    ACE_CHANGE_TOOL GATE={tool}
  {% endif %}   
  
[temperature_ace]

[heater_generic drybox]
heater_pin: EXP1_1
sensor_type: temperature_ace
control: watermark
max_delta: 10.0
min_temp: 0
max_temp: 70

[verify_heater drybox]
max_error: 999999999
check_gain_time: 600
hysteresis: 10
heating_gain: 1

[gcode_button bangace]
pin:  EXP1_2
press_gcode: 
    _STARTACEHEAT
release_gcode: 
    _STOPACEHEAT

[gcode_macro _STARTACEHEAT]
gcode:
  {% set ace_box = printer['heater_generic drybox']|default() %}
  {% set ace_temp = ace_box.target|default(50)|int %}
  {% set duration = params.DURATION|default(240)|int %}
  {% set timeout = ((duration * 60) - 30)|default(14370)|int %}
  ACE_STOP_DRYING 
  G4 P1000
  ACE_START_DRYING TEMP={ace_temp} DURATION={duration}
  UPDATE_DELAYED_GCODE ID=_ACEDRYERTIMEOUT DURATION={timeout}

[delayed_gcode _ACEDRYERTIMEOUT]
gcode:
  UPDATE_DELAYED_GCODE ID=_ACEDRYERTIMEOUT DURATION=0
  ACE_STOP_DRYING

[gcode_macro _STOPACEHEAT]
gcode:
    ACE_STOP_DRYING

[gcode_macro WIPE]
variable_wipe_startx: 550
variable_wipe_starty: -10
variable_wipe_x: 505
variable_wipe_y: -13
variable_wipe_speed: 12000
gcode:
    G1 X{wipe_startx} Y{wipe_starty} F{wipe_speed}
    G1 X{wipe_x} F{wipe_speed}
    G1 Y{wipe_y} F{wipe_speed}
    G1 X{wipe_startx} F{wipe_speed}
    G1 Y{wipe_starty} F{wipe_speed}
    G1 X{wipe_x} Y{wipe_y} F{wipe_speed}
    G1 X{wipe_startx} Y{wipe_starty} F{wipe_speed}
    G1 X{wipe_x} Y{wipe_y} F{wipe_speed}
    G1 X{wipe_startx} Y{wipe_starty} F{wipe_speed}
 
#TUNE ME
[gcode_macro POOP]
gcode:
  _THEPOSITION
  M117 Purging...
  ; prime
  G1 E30 F300
  G4 P2000


#TUNE ME
[gcode_macro CUT_TIP]
gcode:
  {% set client = printer['gcode_macro _CLIENT_VARIABLE']|default({}) %}
  # save state, then park active extruder
  G91
  G1 Z+2 
  G90
    # move to pre-cutting position 
  _THEPOSITION
  # move to cutting position
  G1 X610 F3000
  G4 P500
  G1 Y-24 F600
  G1 Y-10 F600
  _THEPOSITION


#TUNE ME
[gcode_macro _ACE_PRE_TOOLCHANGE]
variable_purge_temp_min: 210
gcode:
    M117 PRE
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}

    _THEPOSITION
    
    {% if printer.extruder.temperature < purge_temp_min %}
          M109 S{purge_temp_min}
    {% endif %}

    SAVE_GCODE_STATE NAME=TOOLCHANGE
    
    {% if printer.gcode_move.gcode_position.z < 30 %}
        G91
        G0 Z30 F600
    {% endif %}


[gcode_macro _ACE_POST_TOOLCHANGE]
gcode:
    WIPE
    RESTORE_GCODE_STATE NAME=TOOLCHANGE MOVE=1 MOVE_SPEED=250

[gcode_macro _ACE_ON_EMPTY_ERROR]
gcode:
    {action_respond_info("Spool is empty")}
    {% if printer.idle_timeout.state == "Printing" %}
        PAUSE
    {% endif %}

[gcode_macro T0]
gcode:
    ACE_CHANGE_TOOL TOOL=0

[gcode_macro T1]
gcode:
    ACE_CHANGE_TOOL TOOL=1

[gcode_macro T2]
gcode:
    ACE_CHANGE_TOOL TOOL=2

[gcode_macro T3]
gcode:
    ACE_CHANGE_TOOL TOOL=3
