
[extruder]
step_pin: tool0:S0_STEP
dir_pin: tool0:S0_DIR
enable_pin: !tool0:S0_EN
microsteps: 16
rotation_distance: 54.31 # last val (2025-08-26): 53.38; use this with gear ratio
gear_ratio: 44:10, 37:17 #use this with rotation_distance 55
max_extrude_only_accel: 10000
max_extrude_only_velocity: 50
nozzle_diameter: 0.800
filament_diameter: 1.750
heater_pin: tool0:HEAT0
sensor_type: PT1000
sensor_pin:  tool0:HEAT0_TEMP
pullup_resistor: 2200
#control: pid
min_temp: -200
max_temp: 350
max_extrude_only_distance: 125
pressure_advance: 0.05

[tmc2209 extruder]
uart_pin: tool0:S0_CS
run_current: 0.56
sense_resistor: 0.110
stealthchop_threshold: 0
interpolate: true

#[extruder1]
#step_pin: tool1:S0_STEP
#dir_pin: !tool1:S0_DIR
#enable_pin: !tool1:S0_EN
#microsteps: 16
#rotation_distance: 54.31 # last val (2025-08-26): 53.38; use this with gear ratio
#gear_ratio: 44:10, 37:17 #use this with rotation_distance 55
#max_extrude_only_accel: 10000
#max_extrude_only_velocity: 50
#nozzle_diameter: 0.800
#filament_diameter: 1.750
#heater_pin: tool1:HEAT0
#sensor_type: PT1000
#pullup_resistor: 2200
#sensor_pin: tool1:HEAT0_TEMP
##control: pid
#min_temp: -200
#max_temp: 350
#max_extrude_only_distance: 125
#pressure_advance: 0.05
#
#[tmc2209 extruder1]
#uart_pin: tool1:S0_CS
#run_current: 0.56
#sense_resistor: 0.110
#stealthchop_threshold: 0
#interpolate: false

