
[board_pins loader]
mcu: loader, loader1
aliases:
    # Bigtreetech EBB42 v1.2 CAN
    # Stepper drivers
    S0_STEP=PD0,  S0_DIR=PD1,  S0_EN=PD2, S0_CS=PA15, 
    
    # Heaters
    HEAT0=PB13,

    # Thermisors
    HEAT0_TEMP=PA3,

    # Fans
    FAN0=PA0, FAN1=PA1,

    # End stops
    STOP0=PB5,  STOP1=PB6, STOP2=PB7,

    #rgb led
    RGB0=PD3,

    # BL Touch
    SERVO=PB9,   # BL Touch servo pin
    PROBE=PB8,  # BL Touch end stop pin

    #Max31865
    MAX_SPI_CS=PA4,
    MAX_SPI_SCLK=PA5,
    MAX_SPI_MISO=PA6,
    MAX_SPI_MOSI=PA7,

    #adxlspi
    AXL_SPI_CS=PB12,
    AXL_SPI_SCLK=PB10,
    AXL_SPI_MISO=PB2,
    AXL_SPI_MOSI=PB11,
    
    #I2C
    I2CSDA=PB3,
    I2CSCL=PB4

#[board_pins loader1]
#mcu: loader1
#aliases:
#    # Bigtreetech EBB42 v1.2 CAN
#    # Stepper drivers
#    S0_STEP=PD0,  S0_DIR=PD1,  S0_EN=PD2, S0_CS=PA15, 
#    
#    # Heaters
#    HEAT0=PB13,
#
#    # Thermisors
#    HEAT0_TEMP=PA3,
#
#    # Fans
#    FAN0=PA0, FAN1=PA1,
#
#    # End stops
#    STOP0=PB5,  STOP1=PB6, STOP2=PB7,
#
#    #rgb led
#    RGB0=PD3,
#
#    # BL Touch
#    SERVO=PB9,   # BL Touch servo pin
#    PROBE=PB8,  # BL Touch end stop pin
#
#    #Max31865
#    MAX_SPI_CS=PA4,
#    MAX_SPI_SCLK=PA5,
#    MAX_SPI_MISO=PA6,
#    MAX_SPI_MOSI=PA7,
#
#    #adxlspi
#    AXL_SPI_CS=PB12,
#    AXL_SPI_SCLK=PB10,
#    AXL_SPI_MISO=PB2,
#    AXL_SPI_MOSI=PB11,
#    
#    #I2C
#    I2CSDA=PB3,
#    I2CSCL=PB4

[dual_carriage]
axis: y
step_pin: S2_STEP
dir_pin: S2_DIR
enable_pin: !S2_EN
microsteps: 16
rotation_distance: 40
endstop_pin: tmc5160_dual_carriage:virtual_endstop
#endstop_pin: ^!tool1:STOP0
position_endstop: 656
position_max: 656
position_min: 0
homing_speed: 100
homing_accel: 1500
# A minimum distance between the carriages to enforce
safe_distance: 30
homing_retract_dist: 0
use_sensorless_homing: true

[tmc5160 dual_carriage]
cs_pin: S2_CS
spi_bus: spi1
run_current: 1.0
home_current: 0.6
sense_resistor: 0.075
stealthchop_threshold: 0 #999999
interpolate: false
diag0_pin: !STOP2
driver_SGT: 1



[extruder_stepper mobius0]
extruder: extruder
step_pin: loader:S0_STEP
dir_pin: loader:S0_DIR
enable_pin: !loader:S0_EN
microsteps: 16
rotation_distance: 22.6789511
gear_ratio: 20:80
#max_extrude_only_accel: 5000
#max_extrude_only_velocity: 50

[tmc2209 extruder_stepper mobius0]
uart_pin: loader:S0_CS
sense_resistor: 0.110
run_current: 1.1
hold_current: 0.6
stealthchop_threshold: 999999
interpolate: false

[extruder_stepper mobius1]
extruder: extruder1
step_pin: loader1:S0_STEP
dir_pin: loader1:S0_DIR
enable_pin: !loader1:S0_EN
microsteps: 16
rotation_distance: 22.6789511
gear_ratio: 20:80
#max_extrude_only_accel: 5000
#max_extrude_only_velocity: 50

[tmc2209 extruder_stepper mobius1]
uart_pin: loader1:S0_CS
sense_resistor: 0.110
run_current: 1.1
hold_current: 0.6
stealthchop_threshold: 999999
interpolate: false


[mcu loader]
canbus_uuid: 095f35938cb1
#canbus_interface:

[temperature_sensor loader_mcu]
sensor_type: temperature_mcu
sensor_mcu: loader

[mcu loader1]
canbus_uuid: 57ace1c4b3eb
#canbus_interface: can1

[temperature_sensor loader1_mcu]
sensor_type: temperature_mcu
sensor_mcu: loader1